.TitleSubText{
    font-size: 85px;
    padding: 0;
    margin: 2rem 0;
}

.TitleFirst{
    font-weight: normal;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.containerFirst{
    text-align: center;

}

.buttonContainerFirst{
    font-size: 25px;
    border-radius: 5px;
    width: 20%;
    color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    gap: 3px; 
    box-shadow: 2px 2px 4px #5f5f5f !important;
    border: 1px 1px 1px #a70000 !important;
}

.containerButtons{
    display: flex; /* 💡 Ativa o modo flexível e joga os filhos na mesma linha */
    gap: 15px;      /* Controla o espaçamento entre os dois elementos */

    /* Opcionais para alinhar: */
    justify-content: center; /* Empurra um para cada ponta, ou 'center' para centralizar */
    align-items: center;


}


.tecFitName{
    color: #db8300;
}


/* responsive */

/* Mobile first */
@media (min-width: 375px) {
    .TitleSubText{
        font-size: 20px;
    }

    .TitleFirst{
        font-size: 8px;
    }

    .buttonContainerFirst{
        font-size: 2px;
    }


 }  /* sm */


@media (min-width: 768px) { 

    .TitleSubText{
        font-size: 30px;
    }

    .TitleFirst{
        font-size: 12px;
    }

    .buttonContainerFirst{
        font-size: 6px;
    }


}  /* md */
@media (min-width: 992px) {
    .TitleSubText{
        font-size: 53px;
    }

    .TitleFirst{
        font-size: 15px;
    }

    .buttonContainerFirst{
        font-size: 9px;
    }


 }  /* lg */
@media (min-width: 1200px) {
    .TitleSubText{
        font-size: 60px;
    }

    .TitleFirst{
        font-size: 25px;
    }

    .buttonContainerFirst{
        font-size: 14px;
    }


 } /* xl */
@media (min-width: 1400px) {
    .TitleSubText{
        font-size: 80px;
    }

    .TitleFirst{
        font-size: 30px;
    }

    .buttonContainerFirst{
        font-size: 19px;
    }
    

 } /* xxl */