.TitleSubText{
    font-size: 85px;
    padding: 0;
    margin: 2rem 0;
}

.TitleFirst{
    font-weight: normal;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.buttonContainerFirst{
    font-size: 20px;
    border-radius: 5px;
    width: 20%;
    color: #ffffff;

    /* 1. Ativa o modo de alinhamento Flexbox */
    display: flex; 
    
    /* 2. Alinha o ícone e o texto verticalmente no centro da linha */
    align-items: center; 
    
    /* 3. Centraliza todo o bloco horizontalmente dentro do botão */
    justify-content: center; 
    
    /* 4. Cria um espaçamento perfeito entre o ícone e o texto (sem precisar de margin) */
    gap: 8px;
}

/* .titleBtn{

    display: flex; 
    align-items: center; 
    justify-content: center;

} */

.tecFitName{
    color: #db8300;
}


/* responsive */

/* Mobile first */
@media (min-width: 375px) {
    .TitleSubText{
        font-size: 20px;
    }

    .TitleFirst{
        font-size: 8px;
    }

    .buttonContainerFirst{
        font-size: 2px;
    }


 }  /* sm */


@media (min-width: 768px) { 

    .TitleSubText{
        font-size: 30px;
    }

    .TitleFirst{
        font-size: 12px;
    }

    .buttonContainerFirst{
        font-size: 6px;
    }


}  /* md */
@media (min-width: 992px) {
    .TitleSubText{
        font-size: 53px;
    }

    .TitleFirst{
        font-size: 15px;
    }

    .buttonContainerFirst{
        font-size: 9px;
    }


 }  /* lg */
@media (min-width: 1200px) {
    .TitleSubText{
        font-size: 60px;
    }

    .TitleFirst{
        font-size: 25px;
    }

    .buttonContainerFirst{
        font-size: 14px;
    }


 } /* xl */
@media (min-width: 1400px) {
    .TitleSubText{
        font-size: 80px;
    }

    .TitleFirst{
        font-size: 30px;
    }

    .buttonContainerFirst{
        font-size: 19px;
    }
    

 } /* xxl */