.containerFourth{
  width: 75%;
  justify-content: start;
  align-items: start;
  margin: 0 auto;
  padding: 2rem;

}

.buttonContact{
  border-radius: 6px;
  width: 35%;
}

.lineTitle{
  border: none;
  height: 0.4rem;              
  width: 100%;
  background: linear-gradient(to right, transparent,#000, #db8300, transparent);
}
