.wrapper-animado {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease;
  width: 100%;
}

.wrapper-animado.recolhido {
  max-height: 90px;
  opacity: 0.85;
}

.wrapper-animado.expandido {
  max-height: 600px;
  opacity: 1;
}

/* responsive */
/* Mobile first (base acima já é o menor, < 375px) */

@media (min-width: 375px) {
    .wrapper-animado.recolhido{ max-height: 100px; }
    .wrapper-animado.expandido{ max-height: 550px; }
    /* .imgFirstIlustrator{} */
} /* sm */

@media (min-width: 768px) {
    .wrapper-animado.recolhido{ max-height: 110px; }
    .wrapper-animado.expandido{ max-height: 500px; }
} /* md */

@media (min-width: 992px) {
    .wrapper-animado.recolhido{ max-height: 110px; }
    .wrapper-animado.expandido{ max-height: 500px; }
} /* lg */

@media (min-width: 1200px) {
    .wrapper-animado.recolhido{ max-height: 110px; }
    .wrapper-animado.expandido{ max-height: 500px; }
} /* xl */

@media (min-width: 1400px) {
    .wrapper-animado.recolhido{ max-height: 110px; }
    .wrapper-animado.expandido{ max-height: 500px; }
} /* xxl */