

.buttonContainerFirst{
    font-size: 1.5rem;
    border-radius: 5px;
    width: 20%;
    color: #ffffff;

}

.containerButtons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;

}