.nav-container {
    display: flex;         
    padding: 2rem;
    margin: 0;
    gap: 3rem;     
    flex: 1;             /* Faz cada item crescer e ocupar o mesmo espaço */
    display: flex;      /* Faz cada item crescer igualmente */       
    justify-content: center 
}

.listItem{
    list-style: none;
}


.header-container {
    display: flex;         /* Ativa o modo horizontal */
    padding: 0;
    margin: 0;
    gap: 3rem;             /* Cria um espaçamento entre os itens */
    width: 100%;
    border-bottom: 1px solid #000;
}
