/* layout padrão desktop */
.nav-container {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    padding: 2rem;
    margin: 0;
    flex: 1;    
    flex-direction: row; 
    justify-content: center;
}


.listItem{
    list-style: none;
}

.buttonRegister{
    border-radius: 5px 18px;
    color: #ffffff;
    font-size: 1.1rem;

}

.buttonRegister:hover{
    /* padding: 0.7rem 2.1rem; */
    background-color: #b06a00;
    transform: translateY(-4px);

}


/* 🎯 Classe Base que controla o tamanho exato do texto */
.menuLink {
    position: relative;
    display: inline-block; /* 💡 Força o link a ter apenas a largura do texto */
    text-decoration: none;
    color: #ffffff;        /* Ajuste para a cor do seu menu */
    padding-bottom: 4px;   /* Distância da linha */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;

}

/* 🪄 Criando a linha encolhida */
.menuLink::after {
    content: '';
    position: absolute;
    width: 100%;           /* O 100% agora vai medir exatamente o texto de cada <a> */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5500; /* Cor laranja da sua marca */
  
    transform: scaleX(0);  /* Começa encolhida */
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

/* 🚀 Efeito Hover global para todos os links do menu */
.menuLink:hover::after {

    transform: scaleX(1);  /* Expande perfeitamente até a borda do texto */
}

.menuLink:hover{
    /* font-size: 1.2rem; */
    transform: translateY(-8px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


/* botão hambúrguer (escondido no desktop) */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}


/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

/* MOBILE */
@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-container {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: white;
        padding: 1rem;
        display: none;
        gap: 1.5rem;
        border-bottom: 1px solid #ccc;
    }

    .nav-container.active {
        display: flex;
    }
}
